/* main {
    display: flex;
    height: 80vh;
    justify-content: center;
    border: violet 2px dashed;
}

.letters {
    width: 30vw;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 20vh;
    left: 20vw;
    border: 3px burlywood solid;
}

h1 {
    font-size: 5vh;
    padding-bottom: 3vh;
}

p {
    font-size: 3vh;
}
.button1 {
    color: #ffffff;
    background-color: #29be56;
    border: none;
    border-radius: 2%;
    width: 5vw;
    height: 2.5vh;
}

.button2 {
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 0.2rem;
    width: 5rem;
    height: 1.5rem;
}

.phones {
    border: green 2px solid;
    background-color: royalblue;
}
.sphone1 img {
    width: 20rem;
    height: 40rem;
    position: relative;
    bottom: 10rem;
    left: 40rem;
}

.sphone2 img {
    width: 20rem;
    height: 40rem;
    position: relative;
    bottom: 9rem;
    left: 31rem;
} */


main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 10rem;
}

.letters {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 15vh;
    margin-left: 15rem;
}

h1 {
    font-size: 4vh;
    padding-bottom: 1vh;
}

p {
    font-size: 2.5vh;
    padding-bottom: 5vh;
}
.phones {
    display: flex;
    width: 20rem;
    height: 40rem;
    justify-content: center;
    /* position: relative;  */
}

.sphone2 {
    position: relative;
    top: 1rem;
    left: -29rem;
}

.button1, .button2 {
    /* border: none; */
    border-radius: 0.2rem;
    width: 15rem;
    height: 5rem;
    font-size: 4vh;
    font-weight: bolder;
    padding: 1rem 3rem;
}

.button1, .button1:hover {
    color: #ffffff;
    background-color: #29be56;
}

.button2, .button2:hover {
    color: #ffffff;
    background-color: #3498db;
    margin-left: 1vw;
}