header {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 15vh;
    width: 100vw;
    /* margin-top: 5rem; */
    /* z-index: 1; */
    font-weight: bolder;
  }
  nav div{
    display: flex;
    justify-content: space-evenly;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    margin-left: 19rem;
  }
  li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 1rem;
  }
 nav div a {
   position: relative;
   left: 25rem;
 }
