header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    z-index: 1;
    padding: 10vh;
}
header nav {
    flex-grow: 2;
}
header nav ul {
    display: flex;
    justify-content: space-around;
}
header nav ul li {
    display: inline;
    list-style: none;
    justify-self: center;
    align-self: center;
}

