@import url(./var.css);
@import url(./logo.css);
@import url(./anchor.css);
@import url(./menu.css);
@import url(./home.css);
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s;
}
body {
    color: var(--font-color);
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg_001.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


  