:root {
    font-size: 16px;
    --font-color: white;
    --bg-img: url(../img/bg_001.jpg);
    --logo-img: url(../img/logo_001.png);
    --font-app: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}